# eclipse
.classpath
.project
.settings/
.metadata/

# idea
.idea/
*.iml
*.ipr
*.iws
out

# osx
.DS_Store

# gradle
.gradle/
build/
!gradle-wrapper.jar
gradle.properties

# project
**/bin/
**/var/
**/logs/
src/main/java/com/gabriellopes/crackingthecodinginterview/ignored/
/src/main/java/com/gabriellopes/crackingthecodinginterview/technichesconcepts/FibonacciNumbers.java
